.git/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/
__pycache__/
.DS_Store
*.egg-info/

atom/
build/
data/
dist/
dumps/
htmlcov/
spd/

.coverage
.log
.log.*
*.dat
*.env
*.in
*.ipynb
*.xml
AGENTS.md
settings.ini

.*.py
.*.json
.*.ini
